[submodule "hugo-eval/themes/PaperMod"]
	path = hugo-eval/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "hugo-eval/themes/congo"]
	path = hugo-eval/themes/congo
	url = https://github.com/jpanther/congo
[submodule "hugo-eval/themes/blowfish"]
	path = hugo-eval/themes/blowfish
	url = https://github.com/nunocoracao/blowfish
